# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python distribution/build files
build/
dist/
*.egg-info/

# Large/raw datasets
data/

# Temporary files
*.tmp
*.log